.comments-footer {
    border-color: #2d3136;
    border-style: solid;
    width: 210em;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.wrapper-comments {
    background: white;
    display: grid;
    margin-bottom: 15.15em;
}

.wrapper-info {

    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    font-size: 85px;
    margin-top: 295px;
    margin-bottom: 273px;
}

.wrapper-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left:29.15em ;
    margin-right:29.15em ;
}
.wrapper-box>div{
    padding: 4.05em;
}
