.wrapper {
    background: #2d3136;
    display: grid;
    width: 210em;
   height: 152.0625em;
    margin-left: auto;
   margin-right: auto;
}

.logo-box {
    margin-top: 7.25em;
    margin-left: 31.4375em;
}

.contact-box {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.info-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

input#exampleInputEmail1.form-control {
    width: 945px;
    height: 195px;
}

input#ex2.form-control {
    width: 945px;
    height: 195px;
}

.info-box2 {
    grid-column: 2;
    grid-row: 3/1;
}

.btn {
    width: 28.750em;
    height: 11.563em;
    border-radius: 0.625em;
    background-color: #be393b;
    padding: 0;
    margin-left:  164.375em;
}

.control-label {
    font-size: 85px;
    line-height: 85px;
    color: #d7d7d7;
    font-weight: 400;
}

label.required:after {
    color: red;
    content: " *";
}

.form-control {
    padding: 0;
    font-weight: 500;
    font-size: 85px;
    background-color: #2d3136;
    color: white;
    border-radius: 10px;
    border: 3px solid rgba(255, 255, 255, 0.52);
}

.form-control:focus {
    border-color: #be393b;
    -webkit-box-shadow: none;
    background-color: #2d3136;
    box-shadow: none;
    color: white;
}

textarea#comment.form-control {
    width: 1141px;
    height: 667px;
    resize: none
}
